<div class="main-div">
  <app-navbar></app-navbar>
  
  <div class="emptydiv">

  </div>

  <div class="container">


    <div class="row search container cen">
      <div class="col-lg-12 col-lg-offset-1">
        <form role="form">
          <div class="input-group">
            <input type="text" class="form-control input-lg cl" placeholder="Enter City. e.g: Colombo, Galle" #searchcity>
            <span class="input-group-btn">
              <a routerLink="/search"><button class="btn btn-primary btn-lg co" type="submit"
                  (click)="setCity(searchcity.value)"><span class="glyphicon glyphicon-search"></span></button></a>
            </span>
          </div>
        </form>
      </div>
    </div>

    <div class="emptydiv">

    </div>
  </div>
</div>
