
.checkdiv{
   
	background-color: #02242e;
  height:60px;
}


.emptydiv {
 height:80px;
}

.infopanels {
    padding: 10px;
	width: 300px;
	height: 250px;
}

.container{
	margin-left: 0px;
}


.main-div {
	background-image: url('../../../../assets/images/back.jpg');
	position: relative;
	width: 100%;
	height: 700px;
	background-repeat:no-repeat;
	background-size: 1900px 700px;
}

.cl {
	color: #ffffff;
	font-size: 20px;
}

input {
	color: #ffffff;
	font-family: 'Courier New', Courier, monospace;
	font-style: oblique;
	font-size: 20px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: #ffffff;
	opacity: 1; /* Firefox */
	font-size: 20px;
  }

.co {
	background-color: #ffffff00;
	text-decoration: none;
	color: #ffffff;
	border-color: #ffffff00;
}

.cen {
	padding-top: 200px;
  margin: 0 auto;
	text-align: center;
}

.overlay {
	position: fixed;
	background-color: rgba(0, 0, 0, 0.8);
	top: 0;
	left: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
}

.center {
	height: 100%;
	width: 1838px;
	color: floralwhite;
	text-align: center;
	font-family: "Verdana","Times New Roman", Times, serif;
	font-weight: bold;

}