
<nav class="transparent">
  <div class="nav-wrapper">
    <a  [routerLink]="['/']" class="brand-logo nava">Bag Bank</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down alr">
      <li><a class="navd" *ngIf="isLogged() && user.roles.admin === true" [routerLink]="['/dashboard']">Dashboard</a></li>
      <li><a class="navd" *ngIf="isLogged() && user.roles.tourist === true" [routerLink]="['/tourist-dashboard']">Dashboard</a></li>
      <li><a class="navd" *ngIf="isLogged() && user.roles.keeper === true" [routerLink]="['/keeper-dashboard']">Dashboard</a></li>
      <li><a class="navd" *ngIf="!isLogged()" [routerLink]="['/sign-in']">Login</a></li>
      <li><a class="navd" *ngIf="isLogged()" (click)="authService.SignOut()">LOGOUT</a></li>
    </ul>
  </div>
</nav>
